@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --base-clr:#e9e6ff;
    --line-clr:#E6E6E6;
    --hover-clr:#b3a9ff;
    --body-clt:#ffffff;
    --text-clr:#515151;
    --accent-clr:#5d47ff;
    --secondarr-text-clr:#9d91ff;
    --active-text-clr:#000000;
    --card-border:#cfcfcf;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

.carousel {
    position: relative;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: poppin;
    line-height: 3.5rem;

  }
  .carousel img {
    width: 100%;
    height: auto;
    display: flex;
  }
  .carousel-text{
    display: block;
    position: absolute;
    font-family: poppins;
    margin-top: 25px;
    top: 25%;
    color: var(--active-text-clr);
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 8px,0 10px 40px black ;  
  }
  .carousel-text h1{
    font-size: 64px;
    line-height: 3.5rem;
  }
  .carousel-text p{
    font-size: 24px;
  }