.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.login-card{
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 40px,0 0 4px blueviolet;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url('https://media.istockphoto.com/id/479977238/photo/table-setting-for-an-event-party-or-wedding-reception.jpg?s=612x612&w=0&k=20&c=yIKLzW7wMydqmuItTTtUGS5cYTmrRGy0rXk81AltdTA='); Replace with your image path */
    background-color: #ead9d2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
button{
    width: 100px;
}
input:hover{
    border: 1px solid blueviolet;
    box-shadow: 0 0 2px, 0 0 2px blueviolet;
}