@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --base-clr:#E6FFE6;
    --line-clr:#E6E6E6;
    --hover-clr:#D9FFD9;
    --body-clt:#ffffff;
    --text-clr:#515151;
    --accent-clr:#005900;
    --secondarr-text-clr:#B0FFB0;
    --active-text-clr:#000000;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
main{
    display: grid;
    gap: 16px;
    top:0;
    left:0;
    background-color: var(--body-clt);
}
.container{
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin: 16px;
    margin-bottom: 20px;
    padding: min(3em,15%);
    h1,h2,p {
        margin-top: 1em;
    }
    overflow-x: scroll;
}
.container form  button{
    background-color: var(--secondarr-text-clr);
    color: var(--text-clr);
    font-weight: 600;
    width: 180px;
   

}
.container .service-list{
    width: fit-content;
    display: flex;
    overflow-x: scroll;
}
.container .service-card{
    width: 240px;
    height: 350px;
    overflow-x: sc;
    margin-top: 20px;
    padding: 16px;
    overflow-y: hidden;
    background-color: var(--body-clt);
    transition: 0.2s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container h4{
    color: var(--text-clr);
    font-weight: 600;
    margin-bottom: 16px;
}
.container form  button:hover{
    background-color: var(--hover-clr);
    color: var(--text-clr);
    font-weight: 600;
    width: 180px;
    box-shadow: 0px 0px 4px , 0px 0px 4px var(--secondarr-text-clr);
    transition: 0.5s;
}
#container h2{
    color: var(--accent-clr);
}
#side-bar{
    box-sizing: border-box;
    height: 600px;
    width: 240px;
    padding: 5px 1em;;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top:0;
    align-self: start;
    transition: 400ms ease-in-out;
    text-wrap: nowrap;
}
#side-bar.close{
    padding: 5px;
    width: 60px;
    overflow: hidden;

}
#side-bar ul{
    list-style: none;
    padding: 0;
}
#side-bar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }

}
#side-bar ul li.active a{
    color: var(--active-text-clr);
    svg{
        fill: var(--active-text-clr);
    }
    background-color: var(--secondarr-text-clr);
    border-radius: 1em;
}
#side-bar a ,#side-bar .dropdown-btn,#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background-color: var(--base-clr);
    border: none;
    font: inherit;
    cursor: pointer;
}
#side-bar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}
#side-bar a  span,#side-bar .dropdown-btn span{
    flex-grow: 1;
}
#side-bar a:hover,#side-bar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}
#side-bar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 400ms ease-in-out ;
    > div{
        overflow: hidden;
    }
}
#side-bar .sub-menu.show{
    grid-template-rows: 1fr;
}
.dropdown-btn svg{
    transition: 400ms ease-in-out;
}
.rotate svg:last-child{
    transform: rotate(-180deg);
}
#side-bar .sub-menu a{
    padding-left: 2em;
    background-color: var(--base-clr);
}
#side-bar .sub-menu a:hover{
    background-color: var(--hover-clr);
}
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    svg{
        transition: rotate 400ms ease-in-out;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}

aside{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
}
/* top-bar */
/* header{
    background-color: var(--base-clr);
    margin: 0;
    padding: 0;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 1;
}
header nav{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 0;
    box-shadow: 1px 2px 4px ,0px 0px 0px #000000;
   
}
nav #location,#search{
    border: 1px solid #bdbdbd;
    border-radius: .5em;
    padding: 8px;
}
nav #location:hover{
    border: 2px solid var(--secondarr-text-clr);
    transition: 0.5s;
}
nav #search:hover{
    border: 2px solid var(--secondarr-text-clr);
    transition: 0.5s;
}
.top-bar ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 4px;
}
.top-bar ul li{
    list-style: none;
    color: var(--text-clr);
}
.top-bar ul li a{ 
    font-weight: 400;
    text-decoration: none;
    color: var(--text-clr);
    padding: 8px 0px;
    margin: 8px 14px;
    border-radius: 0px;
}
.top-bar ul li a:hover{ 
    text-decoration: none;
    color: var(--active-text-clr);
    border: none;
    box-shadow: 0px 0 0px , 0px -4px 0px var(--secondarr-text-clr) inset;
    transition: 0.5s;
}
header nav .authentication{
    width: fit-content;
    display: flex;
    text-wrap: nowrap;
    border-radius: 8px;
}
header nav .authentication a{
    text-decoration: none;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 0;
    color: var(--text-clr);
}

header nav .authentication a.active{ 
    color: var(--active-text-clr);
}
header nav .authentication:hover{ 
    color: var(--body-clt);
}
 */


/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--base-clr);
    padding: 16px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: calc(100vh-aside);
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer ul li{
    list-style-type: none;
    padding: 0px 8px;
}
footer ul a{
    text-decoration: none;
    color: var(--text-clr);
}
footer ul a:hover{
    color: var(--active-text-clr);
    text-decoration: underline;
}
@media(max-width: 768px){
    body{
        grid-template-columns: 1fr;
    }
    main{
        padding: 2em 1em 60px 1em;
    }
    .container{
        border: none;
        padding: 0;
    }
    #side-bar{
        height: 60px;
        width: 100%;    
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top:unset;
        bottom: 0;
        > ul{
            display: grid;
            grid-auto-flow: column; 
            grid-auto-columns: auto;
            gap: 1em;
            padding: 0 ;
            align-items: center;
            overflow-x: scroll;
        }
        ul li {
            height: 100%;
        }
        ul a,ul .dropdown-btn{
            width: 60px;
            height: 60px;
            border-radius: 0;
            padding: 0;
            justify-content: center;
        }
        ul li span,ul li:first-child, .dropdown-btn svg:last-child{
            display: none;
        }
        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            border-top: 1px solid var(--line-clr);
            background-color: var(--base-clr);
            display: flex;
            justify-content: center;
            > div{
                overflow-x: auto;
            }
            li{
                display: inline-flex;
            }
            a{
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }
    }
}

/* photographer  */
.container {
    padding: 20px;
    width: 100%;
    background-color: var(--body-clt);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 8px;
    border-radius: 4px;
    background: #3e8408;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2d6900;
    color: white;
}
.studio-list {
    display: grid;
    grid-column: auto;
    gap: 4px;
    margin-top: 20px;
    padding: 16px;
    background-color: transparent;
}
.studio-card{
    text-align: left;
    width: 100%;
    height: 250px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(162, 243, 174, 0.2);
    transition: 0.2s;
    display: grid;
    gap: 16px;
    grid-template-columns: 250px 1fr;
}

.studio-card:hover{
    background-color: #f5f5f5;
    transition: 0.2s;
    transform: scale(1.02);
}
.studio-card img {
    width: 250px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.studio-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-wrap: nowrap;
    gap: 8px;
    font-weight: bold;
}
.studio-contact button {
    text-decoration: none;
    color: var(--text-clr);
    padding: 8px;
    justify-content: center;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: var(--base-clr);
    transition: 0.3s;
}
.studio-contact button:hover {
    text-decoration: none;
    color: var(--active-text-clr);
    padding: 8px;
    justify-content: center;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: var(--hover-clr);
    transition: 0.3s;
}